@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa_regular-webfont.eot');
    src: url('../fonts/comfortaa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa_regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa_regular-webfont.woff') format('woff'),
         url('../fonts/comfortaa_regular-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa_regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_handbook_prothin';
    src: url('../fonts/pfhandbookpro-thin-webfont.eot');
    src: url('../fonts/pfhandbookpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfhandbookpro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfhandbookpro-thin-webfont.woff') format('woff'),
         url('../fonts/pfhandbookpro-thin-webfont.ttf') format('truetype'),
         url('../fonts/pfhandbookpro-thin-webfont.svg#pf_handbook_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}